<header class="site-header">
    
    <!-- Logo and title -->
    <div class="branding">
        <a href="{{ site.baseurl }}/">
            <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
        </a>

        <h1 class="site-title">
            <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
        </h1>
    </div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
        <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <!-- Uses new method of specified ordering in _data/navigation.yml -->
    {% assign links = site.data.navigation %}
    <ul>
    {% for link in links %}
        {% if link.sublinks %}
        <li>
            <div class="dropdown">
                {% if link.url %}
                <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                        <button class="dropbtn">
                        </button>
                </a>
                {% else %}

                <a href="#"> {{link.title}}</a>
                        <button class="dropbtn">
                        </button>
                </a>

                {% endif %}

                <div class="dropdown-content">
                {% for sublink in link.sublinks %}
                        <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                {% endfor %}
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </nav>
</header>
