---
layout: default
---
<div class="posts">
{% for post in site.posts %}
	{% if post.type == 'tutorial' %}
	<div class="post-teaser">
	{% if post.thumbnail %} 
		<div class="post-img">
			 <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
		</div>
	{% endif %}
	<span>
		<header>
		<h1>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
				{{ post.title }}
			</a>
		</h1>
		</header>
		<div class="excerpt">
			{{ post.content | strip_html | truncate: "250" }}
			<!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
			{{ site.theme_settings.str_continue_reading }}
			</a>-->
		</div>
	</span>
	</div>
	{% endif %}
{% endfor %}
</div>


